@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-hadopelagic-water: #010326;   /* Deep Blue */
  --color-obscure-olive: #455927;       /* Green */
  --color-bleached-silk: #F2F2F2;       /* Almost White */
  --color-scarabaeus-sacer: #404040;    /* Medium Gray */
  --color-black-wash: #0D0D0D;          /* Almost Black */
}
